body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note.new {
  background-color: #ff474a;
}

textarea {
  border: none;
  resize: none;
  background-color: #f1f1f1;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #f5ed04;
  cursor: pointer;
}

.note {
  background-color: #eee674; /* Change background color to white */
  color: #ff474a; /* Change text color to ff474a */
  border-radius: 15px;
  padding: 1rem;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap; /* keep the line spacing that was added to the text */
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
  font-size: 20px;
}
.delete-icon:hover {
  color: red; /* Change the color to red on hover */
}
.theme-change {
  background-color: #ffffff;
  border: 2px solid #806473; /* Add border */
  border-radius: 25px; /* Increase border radius */
  padding: 10px 20px; /* Increase padding */
  font-size: 16px; /* Increase font size */
  color: #806473; /* Change text color */
  font-weight: bold; /* Make text bold */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.theme-change:hover {
  background-color: #806473;
  color: #ffffff; /* Change text color on hover */
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 20px; /* Rounded corners */
  padding: 10px; /* Increased padding */
  margin-bottom: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.search input {
  border: none;
  background-color: transparent; /* Transparent background */
  width: 100%;
  padding: 5px; /* Adjust padding */
  font-size: 16px; /* Adjust font size */
}

.search input::placeholder {
  color: #a0a0a0cd; /* Placeholder color */
}

.search input:focus {
  outline: none; /* Remove outline on focus */
}
